@mixin defButton() {
    margin-top: 1.25rem;
    background-color: $boldColor;
    color: $lightColor;
    font-weight: bold;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: .2s;

    &:hover {
        background-color: darken($boldColor, 10);
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}